:root {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  transition: background-color 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-wrapper {
  width: 600px;
  height: 600px;
  background-image: url(Favorites/1.jpg);
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: homeimg infinite 30s;
  margin: 40px 0px 0px 0px;
}

.home-header {
  color: white;
  font-size: 8rem;
}

body {
  margin: 0;
  padding: 0;
  animation: bgcolor infinite 50s;
}

.menu {
  border: 2px pink solid;
  margin: 0;
}

.nav-bar {
  display: flex;
  justify-content: center;
}

.nav-bar li {
  list-style: none;
  height: 50px;
  display: flex;
  align-items: center;
}

li a {
  padding: 10px 15px;
  margin: 10px;
  text-decoration: none;
  color: white;
}

.menu-1:hover {
  background-color: #99b898;
  border-radius: 2px;
  color: #fff;
}

.menu-2:hover {
  background-color: #fecea8;
  border-radius: 2px;
  color: #fff;
}

.menu-3:hover {
  background-color: #ff847c;
  border-radius: 2px;
  color: #fff;
}

.menu-4:hover {
  background-color: #e84a5f;
  border-radius: 2px;
  color: #fff;
}

@keyframes bgcolor {
  0% {
    background: #99b898;
  }
  20% {
    background: #fecea8;
  }
  40% {
    background: #ff847c;
  }
  60% {
    background: #e84a5f;
  }
  80% {
    background: #2a363b;
  }
  100% {
    background: #99b898;
  }
}

@keyframes homeimg {
  0% {
    background-image: url(Favorites/1.jpg);
  }
  20% {
    background-image: url(Favorites/2.jpg);
  }
  40% {
    background-image: url(Favorites/3.jpg);
  }
  60% {
    background-image: url(Favorites/4.jpg);
  }
  80% {
    background-image: url(Favorites/5.jpg);
  }
  100% {
    background-image: url(Favorites/1.jpg);
  }
}
